$gray-100: #2c2c2c;
$gray-200: #1e1e1f;
$gray-300: #171717;

$primary-100: #c59efa;
$primary-200: #a162f7;
$primary-300: #7030c2;

$neutral-light: #ecedf4;
$neutral-dark: #121212;

$error: #f76262;
$success: #09a406;
$accent: #fefff1;
